/*Login & Logout*/
.logout {
  padding:0;
  text-align: right;
}
.boxLogin {
  border: solid 2px rgba(204, 204, 204, 0.4);
  border-radius: 1px;
  padding: 10px;
  width: 400px;
  height: 150px;
  margin: 0 auto;
  text-align: left;
}
